/**
 * Button style
 *
 * @author: Giang Dao
 */
.btn-long
    .btn__content
        padding-left 50px
        padding-right 50px
        text-transform capitalize
        font-size 13.5px

.btn-bordered
    border 1px solid

.btn-enter-section
    @extend .btn-long
    @extend .font-open-sans
