/**
 * Position-related styles
 *
 * @author: Giang Dao
 */
.relative
    position relative

.absolute
    position absolute

    &.top
        top 0

    &.bottom
        bottom 0

    &.left
        left 0

    &.right
        right 0

.fixed
    position fixed
    left 0
    right 0
    z-index 50

    &.bottom
        bottom 0

    &.top
        top 0

    &.spaced
        left 16px
        right 16px

        &.bottom
            bottom 16px

        &.top
            top 16px

.absolute, .fixed
    &.low-priority
        z-index 10

    &.medium-priority
        z-index 50

    &.medium-2-priority
        z-index 60

    &.medium-3-priority
        z-index 70

    &.medium-4-priority
        z-index 80

    &.medium-5-priority
        z-index 90

    &.high-priority
        z-index 100

    &.top-priority
        z-index 1000